<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="display-4 bi bi-palette-fill"> Casillas Color</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
      <div class="card">
        <a [routerLink]="['/casillaColor', { color: 'marron' }]">
          <img src="assets/img/casillas/marron/marron.jpg" class="card-img-top" alt="Casilla Marron">
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
      <div class="card">
        <a [routerLink]="['/casillaColor', { color: 'celeste' }]">
          <img src="assets/img/casillas/celeste/celeste.jpg" class="card-img-top" alt="Casilla Celeste">
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
      <div class="card">
        <a [routerLink]="['/casillaColor', { color: 'rosa' }]">
          <img src="assets/img/casillas/rosa/rosa.jpg" class="card-img-top" alt="Casilla Rosa">
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
      <div class="card">
        <a [routerLink]="['/casillaColor', { color: 'naranja' }]">
          <img src="assets/img/casillas/naranja/naranja.jpg" class="card-img-top" alt="Casilla Naranja">
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
      <div class="card">
        <a [routerLink]="['/casillaColor', { color: 'rojo' }]">
          <img src="assets/img/casillas/rojo/rojo.jpg" class="card-img-top" alt="Casilla Rojo">
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
      <div class="card">
        <a [routerLink]="['/casillaColor', { color: 'amarillo' }]">
          <img src="assets/img/casillas/amarillo/amarillo.jpg" class="card-img-top" alt="Casilla Amarillo">
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
      <div class="card">

        <a [routerLink]="['/casillaColor', { color: 'verde' }]">
          <img src="assets/img/casillas/verde/verde.jpg" class="card-img-top" alt="Casilla Verde">
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
      <div class="card">
        <a [routerLink]="['/casillaColor', { color: 'azul' }]">
          <img src="assets/img/casillas/azul/azul.jpg" class="card-img-top" alt="Casilla Azul">
        </a>
      </div>
    </div>
  </div>
</div>