<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h2 class="display-4 bi bi-mortarboard-fill"> Integrantes del Proyecto</h2>
      <hr>

      <div class="table">
        <div class="container">
          <div class="row g-2">

            <div class="col-12 col-md-6">
              <details class="card">
                <summary class="property lightblue">
                  <span class="eyebrow">UPC</span>
                  Clara Ruiz
                </summary>
                <p class="rent">Renta $1.</p>
                <div class="priceTable">
                  <div class="qty">Género</div>
                  <div class="price">femenino</div>
                  <div class="qty">Ocupación</div>
                  <div class="price">estudiante</div>
                  <div class="qty">Estudios</div>
                  <div class="price">Ingenieria informática</div>
                </div>
              </details>
            </div>

            <div class="col-12 col-md-6">

              <details class="card">
                <summary class="property lightblue">
                  <span class="eyebrow">UPC</span>
                  Joan Lluc Fernández
                </summary>
                <p class="rent">Renta $1.</p>
                <div class="priceTable">
                  <div class="qty">Género</div>
                  <div class="price">masculino</div>
                  <div class="qty">Ocupación</div>
                  <div class="price">estudiante</div>
                  <div class="qty">Estudios</div>
                  <div class="price">Ingenieria informática</div>
                </div>
              </details>
            </div>
          </div>

          <div class="row g-2">
            <div class="col-12 col-md-6">
              <details class="card">
                <summary class="property lightblue">
                  <span class="eyebrow">UPC</span>
                  Marta de Gea
                </summary>
                <p class="rent">Renta $1.</p>
                <div class="priceTable">
                  <div class="qty">Género</div>
                  <div class="price">femenino</div>
                  <div class="qty">Ocupación</div>
                  <div class="price">estudiante</div>
                  <div class="qty">Estudios</div>
                  <div class="price">Ingenieria informática</div>
                </div>
              </details>
            </div>

            <div class="col-12 col-md-6">
              <details class="card">
                <summary class="property lightblue">
                  <span class="eyebrow">UPC</span>
                  Marcel Guim
                </summary>
                <p class="rent">Renta $1.</p>
                <div class="priceTable">
                  <div class="qty">Género</div>
                  <div class="price">masculino</div>
                  <div class="qty">Ocupación</div>
                  <div class="price">estudiante</div>
                  <div class="qty">Estudios</div>
                  <div class="price">Ingenieria informática</div>
                </div>
              </details>
            </div>
          </div>


          <div class="row g-2">
            <div class="col-12 col-md-6">
              <details class="card">
                <summary class="property yellow">
                  <span class="eyebrow">Provençana</span>
                  Julia Prieto
                </summary>
                <p class="rent">Renta $2.</p>
                <div class="priceTable">
                  <div class="qty">Género</div>
                  <div class="price">femenino</div>
                  <div class="qty">Ocupación</div>
                  <div class="price">estudiante</div>
                  <div class="qty">Estudios</div>
                  <div class="price">DAW</div>
                </div>
              </details>
            </div>

            <div class="col-12 col-md-6">
              <details class="card">
                <summary class="property yellow">
                  <span class="eyebrow">Provençana</span>
                  Alejandra Paz
                </summary>
                <p class="rent">Renta $2.</p>
                <div class="priceTable">
                  <div class="qty">Género</div>
                  <div class="price">femenino</div>
                  <div class="qty">Ocupación</div>
                  <div class="price">estudiante</div>
                  <div class="qty">Estudios</div>
                  <div class="price">DAW</div>
                </div>
              </details>
            </div>
          </div>

          <div class="row g-2">
            <div class="col-12 col-md-6">
              <details class="card">
                <summary class="property yellow">
                  <span class="eyebrow">Provençana</span>
                  Marc Sabina
                </summary>
                <p class="rent">Renta $2.</p>
                <div class="priceTable">
                  <div class="qty">Género</div>
                  <div class="price">masculino</div>
                  <div class="qty">Ocupación</div>
                  <div class="price">estudiante</div>
                  <div class="qty">Estudios</div>
                  <div class="price">DAW</div>
                </div>
              </details>
            </div>

            <div class="col-12 col-md-6">
              <details class="card">
                <summary class="property yellow">
                  <span class="eyebrow">Provençana</span>
                  Angel Rivera
                </summary>
                <p class="rent">Renta $2.</p>
                <div class="priceTable">
                  <div class="qty">Género</div>
                  <div class="price">masculino</div>
                  <div class="qty">Ocupación</div>
                  <div class="price">estudiante</div>
                  <div class="qty">Estudios</div>
                  <div class="price">DAW</div>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>