<!-- @author: Alejandra Paz, Angel Rivera, Marc Sabina, Julia Prieto
3. Tabla => Listar clasificación (numPosicion, nomUsuario y fecha) -->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="display-4 bi bi-trophy-fill"> Clasificación</h2>
      <hr>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Puntos</th>
        <th>Nombre de Usuario</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let participante of participantes | paginate: { itemsPerPage: 10, currentPage: p }">
        <td>{{participante.clasificacion.numPosicion}}</td>
        <td>{{participante.nomUsuario}}</td>
        <td>{{participante.clasificacion.fecha}}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event" (pageChange)="obtenerDatos()"
    class="pagination pagination justify-content-center"></pagination-controls>
</div>